@charset "utf-8";
/* CSS Document */

.white{ width:1014px; overflow:hidden; margin:0px auto; background:#FFF;}
.w980{ width:980px; margin:0px auto; overflow:hidden;}
.head{  height:40px;overflow:hidden;color:#666666; font-size:12px; line-height:40px;}

.nav{ width:100%; height:51px; background:url(../images/nav.jpg) repeat-x;}
.nav li{  float:left; position:relative;background:url(../images/navline.jpg) no-repeat right center; }
.nav li a{ display:block;height:51px; line-height:46px; color:#FFF; text-decoration:none;  padding:0 42.7px; font-weight:bold;}
.weather{ width:958px; background:#fefbf9; height:32px; border:1px #f1e1d7 solid; border-top:none; padding:8px 10px 0 10px; font-size:12px; line-height:25px;}
#time{ margin-right:10px;}

.text{ width:168px; height:22px; border:1px #f1e1d7 solid; line-height:22px; padding-left:10px; float:left;}
.search{ width:40px; height:24px; line-height:24px; text-align:center; background:#e79434; color:#FFF; float:right; border-radius:1px; border:none;}
.sc{ overflow:hidden; float:right;}



.sidebar{ width:240px; overflow:hidden; float:left; margin-top:14px;}
.sidebar .idtit{ width:240px; height:38px; line-height:38px; text-indent:15px; line-height:38px; font-size:15px; font-weight:bold; color:#FFF; background:url(../images/idtit.jpg) no-repeat}
.sidebar a{ width:240px; height:50px; line-height:50px; font-size:15px; font-weight:bold; background:url(../images/idabg.jpg) no-repeat; display:block; margin-top:11px; text-decoration:none}
.sidebar a:hover{ color:#d01110}

.pay{ width:240px; height:280px; background:url(../images/pay.jpg) no-repeat; color:#FFF; margin-top:14px; overflow:hidden;}
.pay .t{ width:200px; height:175px; border-bottom:1px #e05b5a solid; line-height:23px; margin:20px 0 0 20px; font-size:12px;}
.pay h1{ font-size:24px;}
.pay h2{ font-size:13px; margin-top:8px;}
.pay a{ display:block; width:200px; height:56px; display:block; margin:15px 20px; background:url(../images/zfb.jpg) no-repeat}

.apply{ width:240px; overflow:hidden;}
.apply a{ width:240px; height:66px; display:block; line-height:66px; color:#d11211; font-size:20px; font-weight:bold; background:url(../images/ida2.jpg) no-repeat; margin-top:14px; text-decoration:none}

.main{ float:right; width:726px; overflow:hidden; margin-top:14px;}
.main .title,.box3 .t{ padding:0 13px; position:relative; height:36px; background:url(../images/bg1.jpg) repeat-x; border-bottom:1px #f1e1d7 solid;}
.main .title dt{ position:absolute; left:14px; top:0; width:90px; height:42px; line-height:36px; background:url(../images/idt.png) no-repeat; text-align:center; font-size:15px; color:#FFF; font-weight:bold;}
.main .title dd,.box3 .t dd{ float:right; margin-top:8px; width:49px; height:21px;}
.box1,.box2,.box3,.box4,.box5,.box6{ width:470px; height:195px; border:1px #f1e1d7 solid; overflow:hidden; background:#fefbf9;}
.box1 ul,.box2 ul{ padding:0 15px; overflow:hidden;}
.box1 ul li,.box2 ul li{ background:url(../images/icon1.png) no-repeat left center; padding-left:10px; font-size:13px; margin-top:10px; overflow:hidden;}
.box1 ul li span.time,.box2 ul li span.time{ color:#a5aaaf; font-size:12px;}

.box2{ width:238px;}

.box3{ width:724px; height:238px; border-top:none; margin-top:14px;}
.box3 .t{ height:38px; background:url(../images/box3t.jpg) repeat-x; border-bottom:none; padding-left:7px}
.box3 .t dt{ height:38px; background:url(../images/dt.jpg) no-repeat; width:154px; line-height:37px; text-align:center; line-height:37px; font-weight:bold; float:left; margin-left:7px;}
.box3 .t dt.s{ background:url(../images/dts.jpg) no-repeat; color:#ce0f0f; font-size:15px;}
.box3 ul{ padding:13px; overflow:hidden;}
.box3 ul li{ height:30px; border-bottom:1px #e0dddc dashed; font-size:13px; line-height:30px;}
.box3 span.s1{ width:235px; height:30px; display:block;}
.box3 span.s2{ width:70px; display:block; color:#ce0f0f}
.box3 span.s3{ display:block; width:230px; margin-left:75px;}
.box3 span.s4{ color:#a5aaaf; font-size:12px;}

.box4{ padding:10px; width:704px; height:128px; overflow:hidden; margin-top:14px; float:left}
.box4 a.work{ float:left; text-indent:-9999px; height:128px; width:38px; margin-right:13px; background:url(../images/work.jpg)}
.box4 .lp{ float:left; width:650px; height:128px;}
.box4 .lp ul{ overflow:hidden; height:128px;}
.box4 .lp ul li{ width:180px; height:128px; position:relative; float:left; margin-right:14px}
.box4 .lp ul li .txt{ width:100%; height:32px; text-align:center; line-height:32px; color:#FFF; background:rgba(0,0,0,0.5); position:absolute; left:0; bottom:0;}
.box4 .lp ul li a{ color:#FFF; text-decoration:none; font-size:12px}

.box5{ height:236px;}
.box5 ul{ overflow:hidden;}
.box5 ul li{  overflow:hidden; margin:12px 0 0 15px;  float:left;}
.box5 ul li a{width:212px; height:36px; line-height:36px; text-indent:15px; display:block; background:url(../images/box5li.jpg) no-repeat; text-decoration:none; font-size:13px; font-weight:bold;}
.box5 ul li a:hover{background:url(../images/box5lia.jpg) no-repeat; color:#ce0f0f;}

.box6{ width:238px; height:238px;}
.box6 .content{ padding:15px; overflow:hidden;}
.box6 .content span.s1{ color:#0082cb; float:left;}

.link{ height:36px; overflow:hidden; background:url(../images/link.jpg) repeat-x; padding:14px 0 0 40px; margin-top:17px}
.select{ width:164px; height:24px; border:1px #d7e5f1 solid;  float:left; text-indent:10px; color:#666666; font-size:12px; text-align:center; margin-left:13px;}
.foot{ width:100%; height:90px; background:url(../images/bottom.jpg) repeat-x; overflow:hidden; text-align:center; color:#666666; font-size:12px; line-height:25px; padding-top:14px}
.foot a{ color:#666666}

.float{ width:90px; height:246px; color:#FFF; padding:10px; position:fixed; right:10%; top:20%; font-size:12px; background:#d71716}

.pagelf{ width:240px; overflow:hidden; float:left; margin-top:14px;}
.pagelf .tit{ background:url(../images/lftit.jpg); width:240px; text-indent:18px; line-height:46px; height:46px; color:#FFF; font-size:18px; font-weight:bold;}
.pagelf ul{ overflow:hidden;}
.pagelf ul li{ overflow:hidden;}
.pagelf ul li a{ width:240px; height:50px; border-bottom:1px #f1e1d7 solid; display:block; line-height:50px; color:#40454c; text-decoration:none; background:url(../images/lfbg.jpg) no-repeat; text-indent:18px;}
.pagelf ul li a.s{ background:url(../images/lfbga.jpg) no-repeat; color:#ca0b0b; font-weight:bold;}

.pagert{ width:724px; border:1px #f1e1d7 solid; border-top:none; float:right; overflow:hidden; margin-top:14px; background:#fefbf9}
.pagert .location{ height:46px; line-height:46px; background:url(../images/locbg.jpg) repeat-x; padding:0 15px; overflow:hidden}
.pagert .location dt{ float:left; font-size:18px; font-weight:bold; overflow:hidden}
.pagert .location dd{ float:right; color:#666666; font-size:12px;}
.pagert .location dd a{color:#666666; text-decoration:none;}

.about{ padding:14px; overflow:hidden; font-size:13px; min-height:460px; line-height:23px;}

.newlist{ padding:10px 0 0 15px; overflow:hidden; min-height:550px;}
.newlist li{ background:url(../images/icon1.png) no-repeat left center; padding-left:15px; height:44px; line-height:44px; border-bottom:1px #f3e7df solid;}
.newlist span.time{ color:#9b9b9b; font-size:12px;}
.newlist a:hover{ color:#c00202; text-decoration:none;}

.newcont{ padding:15px; overflow:hidden;}
.newcont h1{ color:#333333; font-size:24px; text-align:center;}
.newcont p.p1{ color:#888888; font-size:12px; text-align:center; margin:7px 0;}
.newcont .cont{ border-top:1px #f3e7df solid; border-bottom:1px #f3e7df solid; padding:10px 0; overflow:hidden; line-height:23px; min-height:450px; margin-bottom:10px;}
.newcont span.s1{ color:#0073c5;}
.newcont a.a1{color:#0073c5;}
.newcont a.a2{ color:#ca3235}

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block; float:left
}

.sprite-g1 {
    width: 42px;
    height: 42px;
    background-position: -5px -5px; margin:10px 13px 0 15px
}

.sprite-g2 {
    width: 48px;
    height: 48px;
    background-position: -57px -5px;margin:10px 13px 0 15px
}

.sprite-g3 {
    width: 48px;
    height: 45px;
    background-position: -115px -5px;margin:10px 13px 0 15px
}

.sprite-g4 {
    width: 44px;
    height: 42px;
    background-position: -115px -60px;margin:10px 13px 0 15px
}

.sprite-icon1 {
    width: 35px;
    height: 35px;
    background-position: -5px -60px; margin:7px 10px 0 10px;
}

.sprite-icon2 {
    width: 35px;
    height: 35px;
    background-position: -5px -112px;margin:7px 10px 0 10px;
}

.sprite-icon3 {
    width: 35px;
    height: 35px;
    background-position: -50px -112px;margin:7px 10px 0 10px;
}

.sprite-icon4 {
    width: 35px;
    height: 35px;
    background-position: -95px -112px;margin:7px 10px 0 10px;
}

.sprite-icon5 {
    width: 35px;
    height: 35px;
    background-position: -140px -112px;margin:7px 10px 0 10px;
}

.sprite-icon6 {
    width: 35px;
    height: 35px;
    background-position: -173px -5px;margin:7px 10px 0 10px;
}

.sprite-icon7 {
    width: 35px;
    height: 35px;
    background-position: -173px -50px;margin:7px 10px 0 10px;
}

.sprite-idt {
    width: 90px;
    height: 42px;
    background-position: -5px -157px;
}

.sprite-more {
    width: 49px;
    height: 21px;
    background-position: -105px -157px;
}

.sprite-v {
    width: 18px;
    height: 18px;
    background-position: -185px -95px; margin:3px 0 0 3px
}


